.homeContainer {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 600;
    width: 200vh;
    justify-content: center;
    padding-top: 10vh;
}

.icon-box {
    margin-top: 5vh;
}

.icon {
    width: 6vh;
    margin-right: 15px;
}

.section {
    width: 100vh ;
}


.mainButton {
    border: 2px solid black;
    padding: 3px 15px 3px 15px;
    border-radius: 20px;
    width: 100px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.mainButton:hover {
    background: black;
    color: white;
    transition: 0.5s;

}

.content {
    display: flex;
}

.name {
    color: #0099FF;
}

.section-1 {
    margin-right: 25px;
    margin-left: 25px;
    width: 70vh;
    display: flex;filter: drop-shadow(0px 0px 4px grey);
    flex-direction: column;
    justify-content: center;
    background: white;
    filter: drop-shadow(0px 0px 4px grey);
    box-shadow: inset -2px 0px 16px 0px rgba(0, 0, 0, 0);
    padding: 20px;
    align-items: center;
    border-radius: 25px;
}

.section-1:hover {
    filter: drop-shadow(0px 0px 8px grey);

}

.section-2 {
    width: 70vh;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    background: white;
    filter: drop-shadow(0px 0px 4px grey);
    box-shadow: inset -2px 0px 16px 0px rgba(0, 0, 0, 0);
    padding: 15px;
    align-items: center;
    border-radius: 25px;
}

.section-3 {
    width: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    background: white;
    filter: drop-shadow(0px 0px 4px grey);
    box-shadow: inset -2px 0px 16px 0px rgba(0, 0, 0, 0);
    padding: 15px;
    align-items: center;
    border-radius: 25px;
    margin-top: 25px;
}


.section-3:hover {
    filter: drop-shadow(0px 0px 6px grey);
}

.section-2:hover {
    filter: drop-shadow(0px 0px 6px grey);
}

.section-1 img {
    width: 20vh;
    margin: auto;
}

.footer {
    background: tomato;
    color: black;
}

.card {
    background: white;
    filter: drop-shadow(0px 0px 6px grey);
    box-shadow: inset -2px 0px 16px 0px rgba(0, 0, 0, 0);
    display: flex;
    border-radius: 25px;
    align-items: center;
    margin-top: 5vh;
}

.description {
    width: 70vh;
    margin-left: 15vh;
}


.card img {
    width: 40vh;
}


.skills-box {
    display: flex;
    width: 60vh;
    justify-content: space-around;
    margin-bottom: 25px;
}

.skill-icon {
    width: 10vh;

}

